# Flutter/Dart/Pub
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/ios/Flutter/.last_build_id

# Android/iOS builds
/android/
/ios/
/web/
/linux/
/macos/
/windows/

# IDE
.idea/
.vscode/
*.iml

# Local env files
.env
.env.local

# OS junk
.DS_Store
Thumbs.db